@{
    ViewData["Title"] = "Home Page";
}
@using System.Globalization

<div class="card text-dark container my-5 py-5 z-depth-1">
    <!--Section: Content-->
    <section>
        <!--Grid row-->
        <div class="row d-flex justify-content-center mb-4">
            <!--Grid column-->
            <div class="col-md-10">
                <!--this part is to Enumerate the MODEL will use to this CSHTML  ex. <BooksLog>-->
                @model IEnumerable<BooksLog>
                <!-- this is the "button" to redirect to controller which is adminhomepage the action which is the AddBooksLogs-->
                <a asp-controller="AdminHomepage" asp-action="AddBooksLogs" class="btn btn-success d-block mb-3 text-center mx-2 text-decoration-none" type="button">Request</a>
                <!-- Inline CSS -->
                <div class="d-flex justify-content-between">
                    <h1 class="text-500 text-dark my-3">Request Log</h1>
                    
                    <!-- Search Bar -->
                    <div class="mb-3">
                        <input type="text" id="searchInput" class="form-control" placeholder="Search for books..." onkeyup="searchTable()">
                    </div>
                </div>



                <table id="booksTable" class="custom-table text-dark">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Fullname</th>
                            <th scope="col">Student ID</th>
                            <th scope="col">Books Id</th>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Category</th>
                            <th scope="col">Get Date</th>
                            <th scope="col">Due Date</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- This Part is to Display Each content of the Database -->
                        <!-- all the content is put to varaible "books"" obj -->
                        @foreach (var books in Model)
                        {
                            <tr>
                                <!-- This Part will Display Each the Content and ther column name ex. books.student_fullname , student_fullname is the column name-->
                                <th scope="row">@books.id</th>
                                <td>@books.student_fullname</td>
                                <td>@books.student_id_fk</td>
                                <td>@books.book_id</td>
                                <td>@books.book_title</td>
                                <td>@books.book_author</td>
                                <td>@books.book_category</td>
                                <!-- This Part Convert the ex. 2024-05-05 to May 5, 2024 -->
                                <td>@DateTime.ParseExact(books.book_get_date, "yyyy-MM-dd", CultureInfo.InvariantCulture).ToString("MMMM dd, yyyy")</td>
                                <td>@DateTime.ParseExact(books.book_due_date, "yyyy-MM-dd", CultureInfo.InvariantCulture).ToString("MMMM dd, yyyy")</td>
                                <td class="d-flex">
                                    <!-- This Part is the button to Redirect to controller then pass the ID using asp-route-id it will pass to action ex. EDIT then this it way we can manipulate a single data because of its unique id -->
                                    <a asp-controller="AdminHomepage" asp-action="Edit" asp-route-id="@books.id" class="btn btn-primary my-3 text-center mx-2 text-decoration-none" type="button">EDIT</a>
                                    <a asp-controller="AdminHomepage" asp-action="Delete" asp-route-id="@books.id" class="btn btn-danger my-3 text-center text-decoration-none" type="button">DELETE</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </section>
    <!--Section: Content-->
</div>